<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         bootstrap="vendor/autoload.php">
  <php>
    <var name="PHPUNIT_TEST_SETTINGS_HANDLER" value="\Xtuple\Xdruple\Application\Test\DrupalPHPUnitTestSettings"/>
    <var name="DRUPAL_SETTINGS_FILE_PATH" value="config/settings.php"/>
    <var name="ERP_SETTINGS_FILE_PATH" value="config/environment.xml"/>
    <var name="GOOGLE_MAPS_API_KEY" value=""/>
    <var name="USPS_USER_ID" value=""/>
  </php>
  <testsuites>
    <testsuite name="xdruple">
      <directory>drupal/xdruple/tests</directory>
    </testsuite>
    <testsuite name="project">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <directory>drupal/xdruple/src</directory>
      <directory>src</directory>
    </whitelist>
  </filter>
</phpunit>
